//
//  shared.xcconfig
//  ScreenTime_Barebones
//
//  Created by Yun Dongbeom on 2023/08/11.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// App Group
/// ‼️ If you put quotes in the value, the quotes are included in the string.
APP_GROUP_NAME = group.hanuman.screentimebarebones
